<div>
    <p>
        <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank"
            title="Tweet"><i class="fab fa-twitter"></i></a>
        <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" target="_blank"
            title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank"
            title="hatena"><i class="fa fa-hatena"></i></i></a>
    </p>
</div>